@inherits Crm.Library.Modularization.CrmViewUserControl

@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div class="lv-item media" data-bind="infiniteScrollItem: { index: $index(), array: $parent.items }">
	 @await Html.PartialAsync("GenericListBulkControl") 
	<div class="pull-left lv-avatar" data-bind="css: $parent.getAvatarColor($data), text: $parent.getAbbreviation($data), visible: !$parent.selectedItems || $parent.selectedItems().length === 0">
	</div>
	<div class="media-body">
		<div class="lv-title">
			<!-- ko if: !window.Helper.Offline || window.Helper.Offline.status === 'online' || (!!FileResource() && FileResource().IsSynced()) -->
			<a data-bind="attr: { href: '@Url.Action("OpenFile", "File", new { plugin = "Main" })/'+ FileResource().Id() }" target="_blank">
				<span data-bind="text: Description"></span>
			</a>
			<!-- /ko -->
			<!-- ko ifnot: !window.Helper.Offline || window.Helper.Offline.status === 'online' || (!!FileResource() && FileResource().IsSynced()) -->
			<span data-bind="text: Description"></span>
			<!-- /ko -->
		</div>
		<ul class="lv-attrs">
			<li>
				<span data-bind="lookupValue: DocumentCategoryKey, lookups: $parent.lookups.documentCategories"></span>
			</li>
			<li data-bind="fileSize: Length"></li>
			<li>
				<i class="zmdi zmdi-calendar"></i>
				<span data-bind="dateText: !!FileResource() ? FileResource().CreateDate : CreateDate"></span>
			</li>
			@Html.PluginRenderActions("DocumentAttributeAttribute")
		</ul>
		<div class="lv-actions actions dropdown">
			<a href="#" data-toggle="dropdown" aria-expanded="true">
				<i class="zmdi zmdi-more-vert"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-right">
				<li data-bind="visible: !window.Helper.Offline || window.Helper.Offline.status === 'online' || (!!FileResource() && FileResource().IsSynced())">
					<a data-bind="attr: { href: '@Url.Action("OpenFile","File", new { plugin = "Main" })/'+ FileResource().Id() }" target="_blank">@(Html.Localize("OpenFile"))</a>
				</li>
				<li data-bind="requiredPermission: { name: 'GetContent', group: 'File' }">
					<a data-bind="fileResource: $data.FileResource, attr: { download: FileName }">@(Html.Localize("Save"))</a>
				</li>
				<!-- ko if: $parent.canDelete($data) -->
				<li class="divider" data-bind="visible: (!window.Helper.Offline || window.Helper.Offline.status === 'online' || (!!FileResource() && FileResource().IsSynced()) || (!!FileResource() && !FileResource().Content()))"></li>
				<li>
					<a href="#" data-bind="click: $parent.remove">@(Html.Localize("Delete"))</a>
				</li>
				<!-- /ko -->
			</ul>
		</div>
	</div>
</div>
