@inherits Crm.Library.Modularization.CrmViewUserControl<Crm.ViewModels.CrmModelItem<Crm.Library.Model.User>>
@using Crm.Extensions
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Extensions
@using Crm.Library.Modularization.Extensions

@{
	var user = Model.Item;
}

<div id="user_details_body">
	@(Html.RuleViolationMessageRegion("UnknownError"))
	<div>
		<div class="col-md-4">
			<p>
				<span class="pre">@($"{Html.Localize("FullName")}: {user.FullName}")</span>
			</p>
			<p>
				<span class="pre">@($"{Html.Localize("AdName")}: {user.AdName ?? Html.Localize("NotAssigned")}")</span>
			</p>
			<p>
				<span class="pre">@($"{Html.Localize("Email")}: {user.Email}")</span>
			</p>
		</div>
		<div class="col-md-4">
			<p>
				<span class="pre">@($"{Html.Localize("PersonnelId")}: {user.PersonnelId ?? Html.Localize("NotAssigned")}")</span>
			</p>
			<p>
				<span class="pre">@($"{Html.Localize("IdentificationNo")}: {user.IdentificationNo ?? Html.Localize("NotAssigned")}")</span>
			</p>
			<p>
				<span class="pre">@($"{Html.Localize("MasterRecordNo")}: {user.MasterRecordNo ?? Html.Localize("NotAssigned")}")</span>
			</p>
		</div>
		<div class="col-md-4">
			<p>
				<span class="pre">@($"{Html.Localize("DefaultLanguageKey")}: {user.DefaultLanguage?.Value ?? Html.Localize("NotAssigned")}")</span>
			</p>
		</div>
		@Html.PluginRenderActions("UserEntryExtensions", new { userId = Model.Item.UserId })
	</div>
	@if (user.Remark.IsNotNullOrEmpty()) { 
	<div>
		<div class="col-md-12">
			<br/>
			<p>
				<span class="pre">@($"{Html.Localize("Remark")}: {user.Remark}")</span>
			</p>
		</div>
	</div>
	 } 
</div>
