@inherits Crm.Library.Modularization.CrmViewUserControl<CrmModelItem<FilterDefinition>>
@using Crm.Library.EntityConfiguration
@using Crm.ViewModels
@{ var filterDefinition = (ScaleFilterDefinition)Model.Item; }
@{ var caption = filterDefinition.Caption ?? filterDefinition.PropertyInfo.Name; }
@{ var modelPath = filterDefinition.GetModelPath(); }

<div class="filter-element" id="@(filterDefinition.GetModelPath().ToLower().Replace(".", "-") + "-filter" )" data-bind="component: { 
	name: 'scale-filter', 
	params: { 
		min: @( filterDefinition.Min ),
		max: @( filterDefinition.Max ),
		step: @( filterDefinition.Step ),
		operator: '@( filterDefinition.Operator.GetOperator() )',
		caption: '@( Model.Item.Caption ?? Model.Item.PropertyInfo.Name )',
		value: getFilter('@( Model.Item.GetModelPath() )')
	}
}"></div>