@inherits Crm.Library.Modularization.CrmViewUserControl<GenericListViewModel>
@using Crm.ViewModels
@using Crm.Library.Globalization.Extensions

<div class="card-header generic-list-header listview d-block" data-bind="css: { 'bgm-bluegray' : selectedItems().length > 0, 'ch-alt': !isTabViewModel() }">
	<h2>
		<!-- ko if: $root.pageTitle -->
		<span data-bind="text: $root.pageTitle"></span>
		<!-- /ko -->
		<!-- ko ifnot: $root.pageTitle -->
		<span>@(Html.Localize(Model?.Title))</span>
		<!-- /ko -->
		<!-- ko if: bookmark() || bulkActions().length > 0 || isFiltered() -->
		<small>
			<!-- ko with: bookmark -->
				<span data-bind="text: $data.Name"></span>
			<!-- /ko -->
			<!-- ko if: bookmark() && selectedItems().length > 0 -->
				<span>|</span>
			<!-- /ko -->
			<span data-bind="visible: selectedItems().length > 0">
				<!-- ko if: allItemsSelected -->
				@(Html.Localize("AllSearchedItemsAreSelectedWarning")) (<span data-bind="text: totalItemCount"></span>),
				<a href="#" data-bind="click: toggleSelectAllItems">@(Html.Localize("DeselectAll"))</a>
				<!-- /ko -->
				<!-- ko ifnot: allItemsSelected -->
				@(Html.Localize("NumberOfSelectedItems")): <span data-bind="text: selectedItems().length"></span>,
				<a href="#" data-bind="click: toggleSelectAllItems">@(Html.Localize("SelectWhole"))</a>
				<!-- /ko -->
			</span>
		</small>
		<!-- /ko -->
	</h2>
	<!-- ko if: isFiltered()-->
	<div class="d-flex c-gray">
		<small class="m-t-15 m-r-5 f-s-12">@(Html.Localize("FilteredBy")):</small>
		<ul class="lv-attrs" data-bind="foreach: filteredProperties">
			<li class="c-gray">
				<span>
					<span data-bind="text: caption"></span><span data-bind="visible: $data.displayedValue">:</span>
					<span data-bind="text: $data.displayedValue"></span>
					<a href="#" class="m-l-5 c-gray" data-bind="click: () => $parent.resetSingleFilter($data.name)">
						<strong>×</strong>
					</a>
				</span>
			</li>
		</ul>
	</div>
	<!-- /ko -->
	<ul class="actions generic-list-actions" data-bind="css: { 'actions-alt' : selectedItems().length > 0 }">
		@if (Model != null && Model.IsRssSubscribable)
		{
			<!-- ko requiredPermission: { name: 'Rss', group: '@(Model.Type.Name)' } -->
			<!-- ko if: getRssLink() !== null -->
			<li>
				<a id="rss-feed" href="#" data-toggle="modal" data-target="#smModal" data-bind="attr: { 'data-route': 'Main/Template/GetRssLink/?url=' + encodeURIComponent(getRssLink()) }, tooltip: true" title="@(Html.Localize("RSS"))">
					<i class="zmdi zmdi-rss"></i>
				</a>
			</li>
			<!-- /ko -->
			<!-- /ko -->
		}
		@if (Model != null && Model.IsCsvExportable)
		{
			<!-- ko requiredPermission: { name: 'ExportAsCsv', group: '@(Model.Type.Name)' } -->
			<!-- ko if: getCsvLink() !== null -->
			<li>
				<a id="csv-download" href="#" data-bind="attr: { 'href': ko.computed(() => { ko.unwrap(loading); return decodeURIComponent(getCsvLink()) }) }, tooltip: true" title="@(Html.Localize("ExportCSV"))" download="@(Html.Localize("Export")).csv">
					<i class="zmdi zmdi-border-outer"></i>
				</a>
			</li>
			<!-- /ko -->
			<!-- /ko -->
		}
		<!-- ko if: getIcsLinkAllowed() -->
		<li class="dropdown ics" data-bind="if: $data.downloadIcs">
			<a href="#" data-toggle="dropdown" aria-expanded="true" data-bind="tooltip: true" title="@(Html.Localize("Calendar"))">
				<i class="zmdi zmdi-calendar"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-right">
				<li data-bind="if: $data.downloadIcs">
					<a href="#" data-bind="click: $data.downloadIcs, visible: $data.items().length > 0" download="@(Html.Localize("Calendar")).ics">
						@(Html.Localize("DownloadIcs"))
					</a>
				</li>
				<li data-bind="if: $data.getIcsLinkAllowed()">
					<a href="#" data-toggle="modal" data-target="#smModal" data-bind="attr: { 'data-route': $data.plugin + '/' + $data.controller + '/GetIcsLink' }">
						@(Html.Localize("CopyLink"))
					</a>
				</li>
			</ul>
		</li>
		<!-- /ko -->
		<!-- ko if: $data.chartSource -->
		<li class="chart">
			<a href="#" aria-expanded="true" data-bind="click: toggleChart, tooltip: true" title="Chart">
				<i class="zmdi zmdi-trending-up"></i>
			</a>
		</li>
		<!-- /ko -->
		<!-- ko if: $root.mapEnabled -->
			<li class="map-action" data-bind="visible: toggleMap">
				<a href="#" aria-expanded="true" data-bind="click: toggleMap, tooltip: true" title="@(Html.Localize("MapTitle"))">
					<i class="zmdi zmdi-map" data-bind="css: { 'c-amber': searchOnMap }"></i>
				</a>
			</li>
		<!-- /ko -->
		<!-- ko if: viewMode().Key === "List" -->
		@if (Model != null && Model.OrderByProperties.Any()) { 
			<li class="dropdown viewModes">
				<a href="#" data-toggle="dropdown" aria-expanded="true" data-bind="tooltip: true" title="@(Html.Localize("SortBy"))">
					<i class="zmdi zmdi-sort"></i>
				</a>

				<ul class="dropdown-menu dropdown-menu-right">
					<li role="presentation" class="dropdown-header pull-right">@(Html.Localize("SortBy"))</li>
					<!-- ko if: getDefaultSortProperties().length > 0 -->
					<li class="orderby-element" data-bind="attr: { 'id': 'default-filter' }, css: { 'active': orderBy().toString() === getDefaultSortProperties().toString() }">
						<a href="#" class="normal-white-space" data-bind="click: setOrderBy.bind($data, getDefaultSortProperties()), text: getDefaultSortPropertyNames"></a>
					</li>
					<!-- /ko -->
					@foreach (var orderByProperty in Model.OrderByProperties.OrderBy(x => x.SortCaption ?? x.PropertyInfo.Name)) { 
						var name = orderByProperty.LambdaPath ?? orderByProperty.PropertyInfo.Name;
						<li class="orderby-element" data-bind="attr: { 'id': '@(name.ToLower().Replace(".", "-") + "-filter")' }, css: { 'active': orderBy() === '@(name)' || (Array.isArray(orderBy()) && orderBy().length === 1 && orderBy()[0] === '@(name)') }">
							<a href="#" data-bind="click: setOrderBy.bind($data, '@(orderByProperty.LambdaPath ?? orderByProperty.PropertyInfo.Name)')">@(Html.Localize(orderByProperty.SortCaption ?? orderByProperty.PropertyInfo.Name))</a>
						</li>
					 } 
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" data-toggle="dropdown" aria-expanded="true" data-bind="tooltip: true" title="@(Html.Localize("SortOrder"))">
					<i class="zmdi zmdi-unfold-more"></i>
				</a>

				<ul class="dropdown-menu dropdown-menu-right">
					<li data-bind="css: { 'active': orderByDirection() === 'ASC' || (Array.isArray(orderByDirection()) && orderByDirection().every(x => x === 'ASC')) }">
						<a href="#" data-bind="click: setOrderByDirection.bind($data, 'ASC')">@(Html.Localize("Ascending"))</a>
					</li>
					<li data-bind="css: { 'active': orderByDirection() === 'DESC' || (Array.isArray(orderByDirection()) && orderByDirection().every(x => x === 'DESC')) }">
						<a href="#" data-bind="click: setOrderByDirection.bind($data, 'DESC')">@(Html.Localize("Descending"))</a>
					</li>
				</ul>
			</li>
		 } 
		<!-- ko if: bookmarks().length > 0 -->
		<li id="bookmark-dropdown" class="dropdown">
			<a href="#" data-toggle="dropdown" aria-expanded="true" data-bind="tooltip: true" title="@(Html.Localize("Filter"))">
				<i class="zmdi zmdi-bookmark"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-right" data-bind="foreach: bookmarks.indexKeys.Category()">
				<li role="presentation" class="dropdown-header pull-right" data-bind="text: $data"></li>
				<!-- ko foreach: $parent.bookmarks.index.Category()[$data] -->
				<li data-bind="attr: { 'class': $data.Key.toLowerCase() + '-filter' }, css: { 'active': $parentContext.$parent.bookmark() === $data }">
					<a href="#" data-bind="click: $parentContext.$parent.toggleBookmark">
						<span data-bind="text: Name"></span>
					</a>
				</li>
				<!-- /ko -->
			</ul>
		</li>
		<!-- /ko -->
		<!-- /ko -->
		<!-- ko if: viewModes().length > 1 -->
		<li class="dropdown">
			<a href="#" data-toggle="dropdown" aria-expanded="true" data-bind="tooltip: true" title="@(Html.Localize("Show"))">
				<i class="zmdi zmdi-settings"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-right" data-bind="foreach: viewModes">
				<li data-bind="css: { 'active': $parent.viewMode().Key === $data.Key }">
					<a href="#" data-bind="click: $parent.setViewMode">
						<span data-bind="text: Value"></span>
					</a>
				</li>
			</ul>
		</li>
		<!-- /ko -->
		<!-- ko if: bulkActions().length > 0 && selectedItems().length > 0 -->
		<li class="dropdown">
			<a href="#" data-toggle="dropdown" aria-expanded="false">
				<i class="zmdi zmdi-more-vert"></i>
			</a>
			<ul class="dropdown-menu dropdown-menu-right" data-bind="foreach: bulkActions">
				<li data-bind="ifnot: $data.Modal">
					<a href="#" data-bind="translatedText: Name, click: $parent.applyBulkAction"></a>
				</li>
				<li data-bind="if: $data.Modal">
					<a href="#" data-toggle="modal" data-bind="translatedText: Name, attr: { 'data-target': Modal.Target, 'data-route': Modal.Route }"></a>
				</li>
			</ul>
		</li>
		<!-- /ko -->
	</ul>
</div>
