@inherits Crm.Library.Modularization.CrmViewPage<CrmModel>
@{Layout = "~/Views/Shared/Layout/LoginLayout.cshtml";}
@using Crm.ViewModels
@using Crm.Extensions
@using Crm.Library.Globalization.Extensions

@section TitleContent {

	<title>@(Html.Localize("ResetPassword"))</title>

}

@section MainContent {

	@await Html.PartialAsync("Master/CordovaJs")
	<div class="lc-block toggled" id="l-forget-password">
		<p class="text-left">@(Html.Localize("ForgotPassword"))</p>
		<p class="text-left">@(Html.Localize("EnterYourEmail"))</p>
		@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
		{
			<div class="input-group m-b-20">
				<span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
				<div class="fg-line">
					<input type="text" class="form-control" id="email" name="email" placeholder="@(Html.Localize("Email"))"/>
				</div>
			</div>
			<div class="has-error">
				<small class="help-block">
					@(Html.RuleViolationMessage())
				</small>
			</div>
			<button id="btn-login" class="btn btn-login btn-primary btn-float" type="submit">
				<i class="zmdi zmdi-arrow-forward"></i>
			</button>
		}
		<ul class="login-navigation">
			@(Html.ActionLink(Html.Localize("Login"), "Login", "Account", new { plugin = "Main" }, new { @class = "btn btn-xs btn-default" }))
		</ul>
	</div>

}
