@using System.Globalization
@using Crm.Extensions
@using Crm.Library.Extensions
@using Crm.Library.Modularization.Extensions

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="@CultureInfo.CurrentUICulture.Name" translate="no">
<head id="head">
	@Html.PluginRenderActions("HeadResource")
	<meta id="meta.AppPluginName" name="AppPluginName" content="@Context.GetCurrentPluginName()/" />
	@RenderSection("TitleContent", false)
</head>
<body class="@(Context.Request.UserAgent().MatchesRegexPattern(" Chrome|Safari") ? "AppleMAC-Safari " : "" + " " + Context.Request.UserAgent() + " " + (Context.Request.UserAgent().Contains("Mobile") ? "ipad" : "")) ">
	@RenderSection("HeaderContent", false)
	@RenderSection("MainContent", false)
</body>
</html>