@using System.Reflection
@using Crm.Library.Extensions
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Model
@using Crm.Library.Modularization.Extensions
@using Crm.ViewModels
@{
	var crmModel = Model as CrmModel;
	var manifest = Html.Raw(crmModel?.CacheManifest != null ? $" manifest=\"{Url.Content("~/" + crmModel.CacheManifest)}\"" : string.Empty);
}
<!DOCTYPE html>
<html @Html.Raw(manifest)>
<head>
	@Html.PluginRenderActions("MaterialTitleResource")
	@RenderSection("TitleContent", false)
</head>
<body class="sw-toggled">
<div class="fg-line" style="display: none"></div>
<header id="header" class="clearfix" data-current-skin="@(crmModel?.Site.MaterialTheme ?? "bluegray")">
	<ul class="header-inner">
		<li id="menu-trigger" data-trigger="#sidebar">
			<div class="line-wrap">
				<div class="line top"></div>
				<div class="line center"></div>
				<div class="line bottom"></div>
			</div>
		</li>
		<li id="back-trigger" class="open" style="display: none">
			<div class="line-wrap">
				<div class="line top"></div>
				<div class="line center"></div>
				<div class="line bottom"></div>
			</div>
		</li>
		<li class="logo visible-lg">
			<a href="#/Main/Dashboard/IndexTemplate">@(crmModel?.Site.DisplayName)</a>
		</li>
		<li class="logo hidden-xs hidden-lg" id="material-medium-logo">
			<a href="#/Main/Dashboard/IndexTemplate">@(crmModel?.Site.DisplayName)</a>
		</li>
		<li class="pull-right" id="top-menu-actions">
			<ul class="top-menu">
				@Html.PluginRenderActions("MaterialTopMenu")
				<span class="top-menu top-menu-actions"></span>
				<li class="menu-more-vert dropdown" style="display: none">
					<a data-toggle="dropdown" href="#" aria-expanded="false">
						<i class="tm-icon zmdi zmdi-more-vert"></i>
					</a>
					<ul class="menu-more-vert dropdown-menu dm-icon pull-right">
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<div id="top-search-wrap">
		<input type="text">
		<i id="top-search-close">&times;</i>
	</div>
</header>

<section id="main">
	<aside id="sidebar" class="sidebar c-overflow" style="display: none;" data-bind="visible: !loading()">
		<div class="si-inner">
			<div class="profile-menu">
					<div class="pin" data-bind="tooltip: { title: '@(Html.Localize("ToggleMenu"))'}">
					</div>
				<a href="#">
					<div class="profile-pic">
						<div class="bgm-white img"alt="@(crmModel?.User.DisplayName)">
							<div style="background-image: url(@Url.Content("~/Content/img/avatar.jpg"));"></div>
						</div>
					</div>
					<div class="profile-info">
						<span id="user-display-name">@(crmModel?.User.DisplayName)</span>
						<i class="zmdi zmdi-caret-down"></i>
					</div>
				</a>
				<ul class="main-menu">
					@Html.RenderAction("MaterialUserProfileMenu", "Menu", new { plugin = "Main" })
					<li>
						<a id="logout" class="logout" href="@Url.Action("Logout", "Account", new { plugin = "Main" })">
							<i class="zmdi zmdi-power"></i>@Html.Localize("Logout")
						</a>
					</li>
					<li class="text-center p-b-10">
						@{ var assembly = Assembly.GetAssembly(typeof(User)); }
						<small>@assembly.GetName().Version</small>
					</li>
				</ul>
			</div>
			<ul class="main-menu">
				@Html.RenderAction("MaterialMainMenu", "Menu", new { plugin = "Main" })
			</ul>
		</div>
	</aside>
	<aside id="right-nav" class="sidebar c-overflow col-lg-4 col-md-6 col-sm-7 col-xs-10 p-l-0 p-r-0">
	</aside>
	<chat params="viewModel: $data"></chat>
	<licensing-alert></licensing-alert>
	<breadcrumbs params="viewModel: $data"></breadcrumbs>
	<section id="content">
		@RenderSection("MainContent", false)
	</section>
</section>

<div class="modal animated fadeIn" id="lgModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="lgModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg card">
		<div class="modal-content">
		</div>
	</div>
</div>

<div class="modal animated fadeIn" id="modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog card">
		<div class="modal-content">
		</div>
	</div>
</div>

<div class="modal animated fadeIn" id="smModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="smModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm card">
		<div class="modal-content">
		</div>
	</div>
</div>

@Html.PluginRenderActions("VideoCallContainer")

<div class="flot-tooltip chart-tooltip"></div>
<div id="scripts">
	@Html.PluginRenderActions("MaterialHeadResource")
</div>
</body>
</html>